body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: aliceblue;
}

.app-container {
  width: 300px;
  height: 400px;
  background-color: #305671;
  border-radius: 20px;
}

.temperature-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.temperature-display {
  display: flex;
  border-radius: 50%;
  color: #ffffff;
  height: 220px;
  width: 220px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: 3px #ffffff solid;
  transition: background 1.5s;
}

.temperature-display:hover {
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: center;
  column-gap: 2em;
}

.pointer-event-none {
  pointer-events: none;
}

button {
  border-radius: 100px;
  height: 90px;
  width: 90px;
  font-size: 5rem;
  color: #ffffff;
  background: rgb(105, 104, 104);
  border: 2px #ffffff solid;
}
button:hover {
  background: rgb(184, 184, 184);
  cursor: pointer;
}

.cold {
  background-color: blue;
}

.cool {
  background-color: cornflowerblue;
}

.warm {
  background-color: orangered;
}

.hot {
  background-color: red;
}
